@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: "Quicksand";
    font-weight: 100;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    height: 18vh;
}

.logo {
    font-family: "Abril Fatface";
    line-height: 80px;
    float: left;
    margin: 0 40px;
    font-size: 3rem;
    letter-spacing: 2px;
}

.logo:hover,
.logo:hover a {
    animation: tada;
    animation-duration: 1s;
    color: black;
}

nav {
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    overflow: hidden;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
}

nav ul li,
nav ul li a {
    display: inline-block;
    padding: 12px 20px;
    font-size: 1.2rem;
    color: black;
}

a {
    text-decoration: none;
    outline: none !important;
    color: black;
}

a:hover {
    color: #ff704d;
}

.intro {
    padding: 40px 105px;
    font-size: 1.3rem;
    height: 35vh;
}

.bolded {
    color: #515151;
    font-weight: bold;
}

.headings {
    font-size: 1.7rem;
    color: #4F4F4F;
    font-weight: bold;
    margin: 0 0 40px 100px;
}

.listedDetails {
    margin-left: 30px;
}

.column {
    float: left;
    width: 320px;
    height: 255px;
    margin: 4px;
    margin-left: 65px;
}

.column.four {
    margin-top: 150px;
}

.column p {
    text-align: center;
    margin-left: 30px;
}

.column img {
    transition: all .2s ease-in-out;
}

.column img:hover {
    border-radius: 15px;
    transform: scale(1.025);
}

.column.one img:hover {
    box-shadow: 0 0 10px 10px #fcfcee;
}

.column.two img:hover {
    box-shadow: 0 0 10px 10px #f5fafd;
}

.column.three img:hover {
    box-shadow: 0 0 10px 10px #f7fdf7;
}

.column.four img:hover {
    box-shadow: 0 0 10px 10px #f8f7fa;
}

.project-title {
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 6px;
    font-size: 1.2rem;
    color: #4d4d4d;
}

.projects {
    height: 110vh;
}

.row {
    margin-left: 35px;
}

hr {
    width: 1165px;
    margin: auto;
    border: 1px solid #f2f2f2;
}

.contact {
    float: left;
    margin-left: 56px;
}

.links a:hover {
    color: #ff5c33;
}

.about-container:after,
.project-row:after {
    content: "";
    display: table;
    clear: both;
}

#about {
    color: #ff5c33;
}

.about-column {
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;
    margin-top: 10px;
    border-right: 1px solid black;
}

.about-column:first-child {
    height: 100%;
    padding: 80px;
}

.about-container {
    margin-left: 0;
    margin-bottom: 30px;
    margin-top: 30px;
}

.skills-container {
    margin-left: 60px;
}

.skills-list ul li {
    list-style-type: none;
}

.about-container {
    margin-left: 40px;
}

.skills-list {
    margin-left: 50px;
}

.skills-container div {
    display: inline-block;
    vertical-align: middle;
    width: 225px;
}

.about-info {
    font-size: 1.2rem;
}

.skills-headings {
    font-weight: bold;
    color: #5A5A5A;
}

.gradient-background {
    background-image: linear-gradient(to top, white 50%, #F5F9FD);
    height: 100%;
}

.gradient-background.two {
    background-image: linear-gradient(to top, white 50%, #f8f8ddab);
    height: 100%;
}

.gradient-background.three {
    background-image: linear-gradient(to top, white 50%, #f5fdf6);
    height: 100%;
}

.gradient-background.ux {
    background-image: linear-gradient(to top, white 50%, #F4F2F7);
    height: 100%;
}

.project-container {
    text-align: center;
}

#text-animate:hover i {
    animation: headShake;
    animation-duration: 2s;
}

.frame {
    height: 50vh;
    margin-bottom: 9px;
}

.project-date {
    margin-top: -35px;
}

.project-name {
    margin-top: 12px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.project-container img {
    height: 100%;
    width: 100%;
}

.project-container i {
    margin-left: 4px;
}

.div-table {
    display: table;
    width: 80%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkcyan;
}

.div-table-row {
    display: table-row;
    padding: 5px;
}

.div-table-cell {
    display: table-cell;
    height: 104px;
    width: 140px;
}

div-table-cell img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.div-table-body {
    display: table-row-group;
}

div.scroll-container {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container img {
    padding: 20px;
    max-width: 15%;
    height: auto;
}

div.scroll-container:before {
    content: "";
    flex-basis: 100%;
    order: 1;
}

.project-column {
    float: left;
    width: 50%;
    padding: 5px;
    padding-left: 100px;
    margin-top: 20px;
    height: 100%;
    margin-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.project-column.ux {
    text-align: right;
    margin-top: 0px;
}

.project-column.ux img {
    width: 50%;
    height: 50%;
}

.project-column.findings {
    width: 33.3%;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 100px;
    text-align: start;
}

.project-column.findings-card img {
    width: 40%;
    height: 40%;
    text-align: start;
}

.project-column.findings-card {
    padding-left: 0px;
    padding-top: 0px;
}

.project-column.user-tasks {
    padding-top: 80px;
}

.project-column.reflection {
    width: 70%;
}

.project-column.reflection hr {
    width: 60px;
}

.project-column hr {
    border: 0.5px solid black;
    margin-left: 0px;
    width: 80px;
}

.project-column h4 {
    margin-bottom: 10px;
}

.project-column.persona:nth-child(1) {
    padding-left: 100px;
    padding-right: 20px;
}

.project-column.persona:nth-child(2) {
    padding-left: 20px;
    padding-right: 100px;
}

.shorter-hr {
    border: 0.5px solid black;
    margin-left: 0px;
    width: 20px;
}

.project-row {
    margin-left: 10px;
}

.table_images {
    width: 100%;
    height: 100%;
}

.testing-details {
    padding-left: 20px;
    text-align: start;
}


@media (max-width: 600px),
(max-width: 728px) {
    .html {
        font-size: 0.65rem;
    }

    .logo {
        position: static;
        top: 0;
        margin-top: 10px;
        margin-left: 18px;
        font-size: 2.3rem;
    }

    .verticalLine {
        display: none;
    }

    nav {
        position: static;
    }

    nav ul li,
    nav ul li a {
        margin-left: 10px;
        padding: 0;
        margin-top: 15px;
        font-size: 1rem;
    }

    nav ul {
        padding-right: 20px;
    }

    .gradient-background {
        background-image: linear-gradient(to top, white 58%, #F5F9FD);
    }

    .gradient-background.two {
        background-image: linear-gradient(to top, white 58%, #FFFDFB);
    }

    .gradient-background.three {
        background-image: linear-gradient(to top, white 58%, #f5fdf6);
    }

    .gradient-background.ux {
        background-image: linear-gradient(to top, white 58%, #F4F2F7);
    }

    .intro {
        padding: 0 15px;
        height: 100%;
        font-size: 1.2rem;
    }

    .headings {
        margin: 40px 0 5px 14px;
        font-size: 1.5rem;
    }

    .column {
        float: none;
        margin-top: 20px;
        margin-bottom: 80px;
        margin-left: 0;
        width: 100%;
        font-size: 1.2rem;
    }

    .column.four {
        margin-top: 80px;
    }

    .column.two {
        width: 100%;
        height: 255px;
    }

    .column.one img:hover {
        box-shadow: 0 0 2px 2px #f9f9f2;
    }

    .column.two img:hover {
        box-shadow: 0 0 2px 2px #f8fcfd;
    }

    .column.three img:hover {
        box-shadow: 0 0 10px 10px #f2f9f2;
    }

    .column p {
        text-align: center;
        margin-left: 0;
    }

    .row img {
        zoom: 2;
        display: block;
        margin: auto;
        height: auto;
        max-height: 100%;
        width: auto;
        max-width: 100%;
    }

    .row {
        margin-left: 0;
    }

    .projects {
        height: auto;
    }

    .project-container {
        margin-top: 40px;
    }

    hr {
        width: 90%;
    }
    
    .contact {
        float: left;
        margin-left: 10px;
    }

    .skills-container {
        margin-left: 10px;
    }

    .about-column {
        width: 100%;
    }

    .project-column {
        padding-left: 10px;
        padding-right: 20px;
        margin-bottom: 0;
        width: 100%;
    }

    .project-column.ux {
        float: none;
        width: 100%;
        height: 100%;
        text-align: left;
        padding-left: 20%;
    }

    .project-column.findings {
        margin-bottom: 5px;
        padding-right: 0px;
    }

    .project-column.user-tasks {
        padding-top: 0px;
    }

    .project-column.findings-card {
        margin-left: 110px;
    }

    .project-column.findings-card img {
        width: 60%;
        height: 60%;
    }

    .project-column.ux img {
        width: 80%;
        height: 80%;
    }

    .project-column.persona img {
        width: 95%;
        height: 95%;
    }

    .project-column.reflection {
        width: 100%;
    }

    .project-row .project-column.persona:nth-child(1),
    .project-column.persona:nth-child(2) {
        padding-left: 15px;
        padding-right: 0px;
    }

    .project-container {
        text-align: center;
        margin-top: 50px;
    }

    .frame {
        height: 25vh;
    }

    .project-name {
        margin-top: 2px;
    }

    div.scroll-container img {
        margin-left: 20px;
        padding: 0px;
        max-width: 30%;
        height: auto;
    }
}

@media (min-width: 731px) and (max-width: 1247px) {
    .logo {
        position: static;
        margin-left: 20px;
        font-size: 2.8rem;
    }

    .verticalLine {
        display: none;
    }

    nav {
        position: static;
    }

    .intro {
        padding: 40px 12px;
        margin-left: 20px;
        font-size: 1.3rem;
        height: 100%;
    }

    .column {
        float: left;
        margin-bottom: 10px;
        margin-left: 12px;
        width: 30%;
        font-size: 0.8rem;
    }

    .column.four {
        margin-top: 0px;
    }

    .column p {
        text-align: center;
        margin-left: 0;
    }

    .headings {
        font-size: 1.9rem;
        color: #4F4F4F;
        font-weight: bold;
        padding: 15px 10px;
        margin: 0 0 15px 10px;
    }

    .row {
        margin-left: 12px;
    }

    .row img {
        display: block;
        margin: auto;
        height: auto;
        max-height: 100%;
        width: auto;
        max-width: 100%;
    }

    .project-title {
        font-size: 1rem;
    }

    .project-container {
        margin-top: 75px;
    }

    .project-column {
        padding-left: 10px;
        padding-right: 20px;
        margin-bottom: 0;
        width: 100%;
    }

    .project-column.ux {
        float: none;
        width: 100%;
        height: 100%;
        text-align: left;
    }

    .project-column.ux img {
        margin-left: 200px;
        width: 50%;
        height: 80%;
    }

    .project-column.findings-card {
        margin-left: 200px;
    }

    .project-row .project-column.persona:nth-child(1),
    .project-column.persona:nth-child(2) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .project-column.user-tasks {
        padding-top: 0px;
    }

    div.scroll-container img {
        padding: 10px;
        max-width: 30%;
        height: auto;
    }

    .project-column.reflection {
        width: 100%;
    }

    .table_images {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 347px) {
    nav ul {
        padding-right: 0px;
    }

    nav ul li,
    nav ul li a {
        margin-left: 0px;
        padding: 10px 5px;
    }

    .logo {
        font-size: 2.8rem;
    }

    .verticalLine {
        height: 50px;
    }

    .project-container {
        margin-top: 10px;
    }

    .project-column.reflection {
        width: 100%;
    }
}

@media (max-width: 350px),
(max-height: 320px) {
    .project-container {
        margin-top: 60px;
    }

    nav ul {
        text-align: left;
        padding-right: 0px;
    }

    nav ul li,
    nav ul li a {
        margin-left: 0px;
        padding: 0 4px;
    }

    .project-column.reflection {
        width: 100%;
    }
}